<!DOCTYPE html>
<html>
<head>
    <title>WildlifeRefuge</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />*@
    <link rel="stylesheet" href="~/css/create-style.css" />
    <link rel="stylesheet" href="~/css/reset.css" />
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <div class="wrapper">
        <main> @RenderBody() </main>
    </div>
</body>
</html>